<div class="reference">
    <h3>Sponsors</h3>
    <a href="https://www.manchester.ac.uk/"
      ><img class="uom-logo" src="/assets/uom.png"
    /></a>
    <a href="https://www.qsustain.co.uk/"
      ><img class="bikos-logo" src="/assets/Biko-logo.jpg"
    /></a>
    <h3>Volunteers</h3>
    <p>
      - <a href="mailto://james.bradnam@student.manchester.ac.uk">Mr James Bradnam</a>, Undergraduate Student <br />
      - <a href="mailto://charlie.major@manchester.ac.uk">Mr Charlie Major</a>, Postgraduate
      Student <br />
      - <a href="mailto://nathaniel.fuell@student.manchester.ac.uk">Mr Nathaniel Fuell</a>, Undergraduate
      Student <br />
      <h3>Chief Designer</h3>
    <p>
      - <a href="mailto://isaac.law@student.manchester.ac.uk">Mr Isaac Law</a>, Undergraduate
      Student
    </p>
      
  </div>
  